:root {
  --background-color: #ccc;
  --text-color: #333;
  --mid-color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 15px;

  background-color: var(--text-color);
}
header h1 a {
  text-decoration: none;
  border-bottom: 3px solid;
  color: var(--text-color);

  background-color: var(--mid-color);
} 
header ul {
  list-style: none;
  display: flex;
  min-width: 30%;
}
header ul li a {
  text-decoration: none;
  color: var(--mid-color);

  padding: 10px 15px;
}

/* .hero {
  background-image: url("../images/headshot.jpg");
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: center;

  min-width: 400px;
  max-width: 500px;
  min-height: 400px;
} */
.hero {
  width: 100%;
  justify-content: center;
  background-color: var(--mid-color);
}
.hero img {
  width: 320px;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 720px;
}
section .subtitle {
  border-right: 3px solid;
  width: 128px;
}
section article {
  padding: 25px;
  width: 480px
}

#projects article {
  flex-wrap: wrap;
  flex-flow: row;
  flex-direction: column;
}
#projects article div {
  width: 50%;
}
#projects article div:first-child {
  width: 100%;
  font-size: 48px;
}

.contact article {
  display: flex;
  justify-content: space-between;
}
.contact article a {
  text-decoration: none;
  color: var(--text-color);
}
