:root {
  --background-color: #ccc;
  --text-color: #333;
  --mid-color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0px 15px 0px;

  background-color: var(--text-color);
}
header h1 {
  width: 250px;
  text-align: right;
  background-color: var(--mid-color);
}
header h1 a {
  text-decoration: none;
  color: var(--text-color);
} 
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  padding-right: 10px;
}
header ul li a {
  text-decoration: none;
  color: var(--mid-color);
  padding: 10px 15px;

  border-bottom: 3px solid;
}

.hero {
  width: 100%;
  justify-content: center;
  background-color: var(--mid-color);
}
.hero img {
  width: 320px;
}
.hero div {
  background-color: var(--background-color);
  height: auto;
  display: absolute;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 10px 128px;
}
section .subtitle {
  border-right: 3px solid;
  width: 128px;
  text-align: right;
  padding-right: 15px;
}
section article {
  padding: 25px;
  width: 480px;
  display: flex;
}

#projects article {
  flex-flow:wrap;
  justify-content: space-between;
  padding: 5px;
  height: auto;
}
.project {
  min-width: 45%;
  padding-bottom: 20px;
}
.project img {
  max-width: 100%;
  border: solid 3px var(--mid-color);
}
.project:first-child {
  width: 100%;
  min-width: 100%;
  flex-basis: 2;
}
.project:first-child img {
  width: 100%;
}
.project-description {
  background-color: var(--mid-color);
  max-width: 100%;
}

.contact article {
  justify-content: space-between;
}
.contact-info {
  border-bottom: 3px solid;
}
.contact-info a {
  text-decoration: none;
  color: var(--text-color);
}

/* Smaller desktops and smaller */
@media (max-width: 980px) {
  section {
    padding: 10px 48px;
    flex-direction: column;
    align-items: center;
  }
  section .subtitle {
    border-right: none;
    border-bottom: 3px solid;
    text-align: center;
    width: 80%;
  }
  section article {
    width: 80%;
  }

  #projects article {
    flex-direction: column;
    text-align: center;
  }

  .contact article {
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
    width: 240px;
  }
  .contact-info {
    padding-top: 15px;
  }
  .contact-info:first-child {
    padding-top: 0px;
  }
}

/* Tablets and smaller */
@media (max-width: 768px) {
  section {
    padding: 10px;
  }
  section article {
    width: 90%;
  }
header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
header h1 {
  width: auto;
}
header ul {
  padding-top: 10px;
  padding-bottom: 5px;
}
}

/* Mobile phones and smaller */
@media (max-width: 575px) {
  header ul {
    flex-direction: column;
    align-items: center;
  }
  header ul li a {
    padding: 0;
  }

}
