:root {
  --background-color: #ccc;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h1 a {
  text-decoration: none;
  border-bottom: 3px solid;
  color: var(--text-color);
} 
header ul {
  list-style: none;
  display: flex;
  min-width: 30%;
}
header ul li a {
  text-decoration: none;
  color: var(--text-color);

  padding: 10px 15px;
}

.hero {
  background-image: url("../images/headshot.jpg");
  background-size: cover;
  background-position: 80%;
  display: flex;
  justify-content: center;

  min-width: 400px;
  max-width: 500px;
  min-height: 400px;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 720px;
}
section .subtitle {
  border-right: 3px solid;
  width: 128px;
}
section article {
  padding: 25px;
  width: 480px
}

.contact article {
  display: flex;
  justify-content: space-between;
}
.contact article a {
  text-decoration: none;
  color: var(--text-color);
}
